/* Write your CSS here */
.main-cont {
  display: flex;
}
.events-cont {
  background-color: #323f4b;
  min-height: 100vh;
  width: 60%;
  background-size: cover;
}
.event-heading {
  color: #ffffff;
  font-family: 'Roboto';
  padding-left: 60px;
  padding-top: 30px;
}
.list-cont {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.single-list {
  height: 200px;
  width: 30%;
  margin: 5px;
}
.event-image {
  height: 120px;
  margin: 0px;
}
.events-head {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 20px;
  margin: 5px;
}
.events-para {
  font-family: 'Roboto';
  color: #f8fafc;
  margin: 5px;
  font-size: 12px;
}
.registration-cont {
  color: #64748b;
  font-family: 'Roboto';
  padding: 20px;
  text-align: center;
}
.yet-to-register-image {
  margin-top: 60px;
  margin-left: 60px;
  height: 400px;
  width: 300px;
}
.register-button {
  color: #ffffff;
  font-family: 'Roboto';
  height: 30px;
  width: 200px;
  background-color: #0967d2;
  border-radius: 8px;
  border-style: none;
}
.registered-image {
  height: 100px;
  width: 100px;
  margin-top: 240px;
  margin-left: 100px;
}
.registerd-para {
  text-align: center;
  margin-left: 130px;
  font-weight: 510;
  font-size: 20px;
}
.closed-image {
  margin-top: 60px;
  margin-left: 60px;
  height: 400px;
  width: 400px;
}
.finished-para {
  margin-left: 130px;
}

.event-button {
  border-collapse: collapse;
}
